<div class="customer-info" id="customer-info">
	<div class="sub-header">Customer Info</div>

	<div class="row">
		<div class="label">First Name</div>
		<div class="col2">
			<input type="text" id="firstname">
		</div>
	</div>
	<div class="row">
		<div class="label">Last Name</div>
		<div class="col2">
			<input type="text" id="lastname">
		</div>
	</div>
	<div class="row">
		<div class="label">Address</div>
		<div class="col2">
			<input type="text" id="address">
		</div>
	</div>
	<div class="row">
		<div class="label">City</div>
		<div class="col2">
			<input type="text" id="city">
		</div>
	</div>
	<div class="row">
		<div class="label">State</div>
		<div class="col2">
			<input type="text" id="state">
		</div>
	</div>
	<div class="row">
		<div class="label">ZIP Code</div>
		<div class="col2">
			<input type="text" id="zip-code">
		</div>
	</div>
	<div class="row">
		<div class="label">Phone Number</div>
		<div class="col2">
			<input type="text" id="phone-number">
		</div>
	</div>
	<div class="row">
		<div class="label">Email</div>
		<div class="col2">
			<input type="text" id="email">
		</div>
	</div>
	<div class="row">
		<div class="label">Technician</div>
		<div class="col2 technician">
			Bryan Hinton
		</div>
	</div>
	<div class="row">
		<div class="label"></div>
		<div class="col2">
			<button type="button" id="start-inspection" class="primary" ng-click="validateInfo()">Start Inspection</button>
		</div>
	</div>
</div>